{% extends "layout.html" %}



{% block body %}

<br>
<h2><center><p class="font-weight-bold">Data Comparasion</p></center></h2>
<br>

<div class="alert alert-primary" role="alert">
  <center>Enter what you are looking!</center>
</div>
<form>
{% csrf_token %}

<div class="row">
  
  <div class="col-md-8 offset-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Study</span>
      </div>
      <input type="text" name = "keyword_study" class="form-sm" placeholder="Search">
    </div>

  </div>
</div>

<div class="row">
  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">organism</span>
      </div>
      <input type="text" name = "keyword_organism" class="form-sm" placeholder="Search">
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
      </div>
      <input type="text" name = "keyword_experiment_title" class="form-sm" placeholder="Search">
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Cell Line</span>
      </div>
      <input type="text" name = "keyword_cell_line" class="form-sm" placeholder="Search">
    </div>
  </div>

</div>


<div class="row">
  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Accession</span>
      </div>
      <input type="text" name = "keyword_experiment_accession" class="form-sm" placeholder="Search">
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">SRA</span>
      </div>
      <input type="text" name = "keyword_sample_accession" class="form-sm" placeholder="Search">
    </div>
  </div>

  <div class="col-6 col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Attribute</span>
      </div>
      <input type="text" name = "keyword_experiment_attribute" class="form-sm" placeholder="Search">
    </div>
  </div>
  
</div>

<button type = "submit" class="btn btn-outline-primary btn-lg btn-block"><img src="https://img.icons8.com/material-sharp/24/000000/search.png">  Search</button>


</form>

  <br><br>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><center>organism</center></th>
        <th scope="col"><center>Experiment Title</center></th>
        <th scope="col"><center>Accession</center></th>
        <th scope="col"><center>Study</center></th>
        <th scope="col"><center>Cell Line</center></th>
        <th scope="col"><center>SRA Accession</center></th>
        <th scope="col"><center>Attribute</center></th>
              
        <th scope="col"><center>Compare</center></th>
      </tr>
    </thead>
    <tbody>
    {% for experiment in experiments %}

    <tr>
      <td><center>{{experiment.organism}}</center></td>
      
      <td><center>{{experiment.experiment_title}}</center></td>
      <td><center>{{experiment.experiment_accession}}</center></td>
      <th><center>{{ experiment.study}}</center></th>
      <td><center>{{experiment.cell_line}}</center></td>
      <td><center>{{experiment.sample_accession}}</center></td>
      <td><center>{{experiment.experiment_attribute}}</center></td>
            
            <td><center>
                <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </div>
            </center></td>

        </tr>

      {% endfor %}
       
      
    </tbody>
  </table>
  <br><br><br><br><br>

  

{% endblock body %}

