{% extends "layout.html" %}

{% block body %}
<br><br>
  
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><center>organism</center></th>
        <th scope="col"><center>Experiment Title</center></th>
        <th scope="col"><center>Accession</center></th>
        <th scope="col"><center>Study</center></th>
        <th scope="col"><center>Cell Line</center></th>
        <th scope="col"><center>SRA Accession</center></th>
        <th scope="col"><center>Attribute</center></th>
        <th scope="col"><center>Update</center></th> 
              
           
        
      </tr>
    </thead>
    <tbody>
    {% for experiment in experiments %}

    <tr>
      <td><center>{{experiment.organism}}</center></td>
      <td><center>{{experiment.experiment_title}}</center></td>
      <td><center>{{experiment.experiment_accession}}</center></td>
      <th><center>{{ experiment.study}}</center></th>
      <td><center>{{experiment.cell_line}}</center></td>
      <td><center>{{experiment.sample_accession}}</center></td>
      <td><center>{{experiment.experiment_attribute}}</center></td>
      <td><center><a href="/UpdateExperiment/{{experiment.id}}" class ="btn btn-warning">Update</center></td>
      
           
            

        </tr>

      {% endfor %}
       
      
    </tbody>
  </table>
  <br><br>


  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      {% for experiment in experiments %}
      <tr class="table-info">
        <td colspan="5" >Sample : {{ experiment.experiment_alias}}</tdcolspan="2">
      </tr>
    </thead>
    
    
    
    
    
    <tbody>
      <tr>
            <th colspan="1">Study Name</th>
            <th colspan="5">{{ experiment.study_name}}</th>
      </tr>
      

      <tr>
        <th scope="col">Design Description</th>
        <th>{{ experiment.design_description }}</th>
 
      </tr>

      <tr>
        <th scope="col">Sample Attribute</th>
        <th>{{ experiment.sample_attribute}}</th>

      </tr>

      <tr>
        <th scope="col">library Strategy</th>
        <th>{{ experiment.library_strategy}}</th>

      </tr>
      
      
      
     
      <tr>
        <th scope="col">Organism</th>
        <th>{{ experiment.organism}}</th>

      </tr>

      <tr>
        <th scope="col">Library Layout</th>
        <th>{{ experiment.library_layout}}</th>

      </tr>

      <tr>
        <th scope="col">Library Construction Protocol</th>
        <th>{{ experiment.library_construction_protocol}}</th>

      </tr>

      <tr>
        <th scope="col">Platform</th>
        <th>{{ experiment.platform}}</th>
   
      </tr>

      <tr>
        <th scope="col">Platform Parameters</th>
        <th>{{ experiment.platform_parameters}}</th>
     
      </tr>
      
     
      


      <tr>
        <th scope="col">Xref Link</th>
        <th>{{ experiment.xref_link}}</th>
  
      </tr>

      <tr>
        <th scope="col">Submission Accession</th>
        <th>{{ experiment.submission_accession}}</th>

      </tr>
     
      <tr>
        <th scope="col">SRA DB updated</th>
        <th>{{ experiment.sradb_updated}}</th>
      
      </tr>

      <tr>
        <th scope="col">Publication Time</th>
        <th>{{experiment.create_date}}</th>
      </tr>

      
      {% endfor %}
    </tbody>

    

  </table>


{% endblock body %}